@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Navbar */

#mainNavbar {
    background-color: #0d6efd;
}

nav .navbar-nav li a,
nav #dropdown-menus .dropdown-menu .dropdown-item {
    color: #000;
    font-weight: 600;
    transition: .3s ease-in;
}

nav .navbar-nav li a:hover,
nav #dropdown-menus .dropdown-menu .dropdown-item:hover {
    color: rgba(0, 0, 0, 0.4);
}

nav #dropdown-menus .dropdown-menu .dropdown-item {
    background: none;
}

@media(min-width:992px) {
    #mainNavbar {
        background: transparent;
    }

    #mainNavbar.navbar-mobile {
        background-color: #0d6efd;
    }
}

@media (max-width: 991.98px) {
    #mainNavbar .collapse-down {
        background-color: #fff;
        border-radius: 10px;
        padding: 24px;
    }
}

/* Header */

header {
    padding: 15%;
}

header {
    background-image: url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0d6efd;
    top: 0;
    left: 0;
    opacity: 0.8;
}

header .container {
    position: relative;
}

header .container p:first-child {
    font-size: 12px;
    font-weight: 500;
}

header .container p.sub {
    font-size: 15px;
}

header .container h1 {
    font-size: 40px;
    font-weight: 800;
}

header button.button-one,
header button.button-two {
    border: none;
    transition: .4s ease-in-out;
}

header button.button-one:hover {
    background: #212529;
    color: #0d6efd;
}

header button.button-two:hover {
    background: #fff;
    color: #0d6efd;

}

@media (max-width: 991.98px) {
    header .container h1 {
        font-size: 24px;
    }
}

/* @media (min-width: 770px) {
    header {
        padding: 15%;
    }
} */

@media (max-width: 767.98px) {
    header {
        padding: 20% 15% 10%;
    }
}

@media (max-width: 575.98px) {
    header {
        padding: 30% 15% 20%;
    }
}

/* Horizontal Cards */

section .horizontal-cards {
    margin-top: -75px;
    box-shadow: 1px 1px 10px rgba(34, 33, 33, 0.02);
    -webkit-transition: 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

section .horizontal-cards p {
    font-size: 14px;
}

section .card:hover {
    margin-top: -3px;
    transition: .15s cubic-bezier(.29, .93, .83, .33);
}

@media(max-width: 767.98px) {
    section .horizontal-cards {
        margin-top: 0px;
    }
}

/* Stats */

@media (max-width: 991.98px) {
    section .stats h2 {
        font-size: 24px;
    }
}

/* Pricing */

.prices button {
    background: #212529;
    transition: all 0.3s ease-in-out;
}

.prices button:hover {
    background: #0d6efd;
}

.prices li {
    font-size: 14px;
    line-height: 20px;
}

.prices li i {
    color: #0d6efd;
}

/* Team */

section .teams p {
    font-size: 14px;
}

section .teams i:hover {
    color: #0d6efd;
    cursor: pointer;
}

/* Carousel Area */

section .pattern-one {
    position: absolute;
    width: 120px;
    height: 223px;
    background: radial-gradient(circle, #dee2e6 15%, transparent 26%);
    background-size: 1em 1em;
    background-color: #f9f9f9;
}

section .pattern-two {
    position: absolute;
    width: 120px;
    height: 223px;
    background: radial-gradient(circle, #dee2e6 15%, transparent 26%);
    background-size: 1em 1em;
    background-color: #f9f9f9;
}

section .carousel-inner .carousel-item {
    height: 350px;
}

section .carousel-caption h5 {
    font-size: 15px;
}

section .carousel-caption p {
    font-size: 13px;
}

@media (max-width: 767.98px) {

    section .pattern-one,
    section .pattern-two {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    section .carousel-inner .carousel-item {
        height: 400px;
    }
}

/* Projects */

section .gallery ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 70px 0;
}

section .gallery ul.filters>li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

section .gallery ul.filters>li>a {
    display: block;
    color: #0d6efd;
    text-decoration: none;
    padding: 5px 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    transition: .3s ease-in-out;
}

section .gallery ul.filters>li>a:hover {
    color: #fff;
    background: #0d6efd;
}

section .gallery ul.filters>li.active>a {
    color: #fff;
    background: #0d6efd;
}

section .gallery .projects .card {
    position: relative;
    border-radius: 0;
    border: none;
}

section .gallery .projects .card:hover {
    margin-top: 0;
}

section .gallery .card-head {
    position: relative;
    overflow: hidden;
}

section .gallery .projects .item .card .card-head img {
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

section .gallery .projects .item .card:hover .card-head img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

section .gallery .card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
    background: rgba(161, 0, 161, 0.75);
    opacity: 0;
}

section .gallery .card-hover h6 {
    padding: 5px 12px;
    font-size: 13px;
    border: none;
    background: #fff;
    border-radius: 13px;
    width: 95px;
    text-align: center;
}

section .gallery .card-hover .a-down {
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
}

section .gallery .card-hover .a-sub:hover {
    opacity: .8;
}

section .gallery .card-head:hover .card-hover {
    opacity: 1;
}

/* Blogs */

section .inner:hover {
    margin-top: 0px;
}

section .card-inner {
    overflow: hidden;
}

section .card-inner img {
    transition: .5s ease;
}

section .card-inner:hover img {
    transform: scale(1.1);
}

section .card-inner h6 {
    font-size: 14px;
}

section .card-inner h5 {
    font-size: 19px;
    color: #081828;
}

section .card-inner p {
    font-size: 15px;
    color: #888;
}

section .img-right a {
    text-decoration: none;
}

section .img-right a.name {
    color: #666;
    font-size: 14px;
}

section .img-right a {
    color: #888;
    font-size: 13px;
}

section .card-inner h5:hover,
section .img-right a:hover {
    color: #0d6efd;
    transition: .27s cubic-bezier(.29, .93, .83, .33);
}

/* Ready question */
section .ready button {
    font-size: 15px;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 8px;
    border: none;
}

section .ready button.button-one {
    background: #0d6efd;
    color: #fff;
}

section .ready button.button-two {
    background: #081828;
    color: #fff;
}

section .ready button.button-one:hover {
    background: #5A29C8;
    transition: .3s ease-in-out;
}

section .ready button.button-two:hover {
    background: #0d6efd;
    transition: .3s ease-in-out;
}

@media (max-width: 991.98px) {
    section .ready button {
        padding: 10px 27px;
    }
}

/* Footer */
footer {
    background: #081828;
    color: #d2d6dc;
}

footer .footer-left p {
    font-size: 14px;
    font-weight: 400;
}

footer .footer-left i {
    margin-right: 21px;
    margin-bottom: 21px;
    cursor: pointer;
}

footer .footer-right h3 {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 32px;
}

footer .footer-right li {
    padding: 0 0 15px;
    list-style: none;
    font-size: 15px;
}

footer .footer-right a {
    text-decoration: none;
    color: #d2d6dc;
}

footer .footer-left span:hover,
footer .footer-left i:hover,
footer .footer-right a:hover {
    color: #0d6efd;
    transition: .3s ease-in-out;
}

footer .footer-down h3 {
    font-weight: 600;
    font-size: 18px;
}

footer .footer-down p {
    font-size: 15px;
    font-weight: 400;
}

footer .footer-down input {
    background: #fff3;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 14px;
}

footer .footer-down button {
    background: #0d6efd;
    color: #fff;
    height: 48px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

footer .footer-down button:hover {
    background: #fff;
    color: #0d6efd;
    transition: .3s ease-in-out;
}

@media (max-width: 991.98px) {

    footer .footer-right:nth-child(3),
    footer .footer-right:nth-child(4) {
        padding-top: 24px;
    }
}

@media (max-width: 767.98px) {

    footer .footer-right:nth-child(1),
    footer .footer-right:nth-child(2) {
        padding-top: 24px;
    }

    footer .footer-down input::placeholder {
        text-align: center;
    }
}

/* Home Return */
section.return {
    background: #690dfd;
    right: 50px;
    bottom: 50px;
    transform: translateY(0);
    transition: .3s ease-in-out;
}

section.return:hover {
    background: #081828;
    color: #fff;
    transform: translateY(-3px);
}

/* General */
@media (min-width: 500px) {

    section .gallery,
    section .services,
    section .team,
    section .price,
    section .feature,
    section .blog {
        padding: 48px;
    }
}

@media (max-width: 499.98px) {

    section .gallery,
    section .services,
    section .team,
    section .price,
    section .feature,
    section .blog {
        padding: 48px 12px;
    }
}